chronoBtn_w = 150px
chronoBtn_r = chronoBtn_w / 2

.chronoBtn
	border 15px solid red
	width chronoBtn_w
	height chronoBtn_w
	border-radius chronoBtn_r
	text-align center

	&.glow
		border-color white
