chronoBtn_w = 150px
chronoBtn_r = chronoBtn_w / 2

// .chronoBtn
// 	border 15px solid
// 	border-color rgba(255, 0, 0, 0);
// 	width chronoBtn_w
// 	height chronoBtn_w
// 	border-radius chronoBtn_r
// 	text-align center
