

#index-route
	text-align center
	&.clear-h
		vertical-align middle
		margin 0
		font-weight normal

	h1
		@extend #index-route.clear-h
		font-family app_font_family
		color active_color3
		font-size 38px
		padding-top 90px
		padding-bottom 5px

		img
			vertical-align middle
			&:last-child
				padding-left 10px
			&:first-child
				visibility hidden

	h2
		@extend #index-route.clear-h
		color active_color4
		font-size 18px
		padding 0px

	h3
		@extend #index-route.clear-h
		color active_color2
		font-size 22px
		padding-top 70px

	.btn-container
		text-decoration none

	.main-btn
		margin-top 75px
