
.main-btn
	position relative
	width 340px
	height 67px
	line-height 67px
	color active_color2
	font-size 32px
	cursor pointer
	display inline-block



	svg
		position absolute
		left 0px
		top 0px
		width 100% !important
		height 100% !important

		path
			stroke-width 3px
			stroke active_color3


.main-btn:hover, .main-btn:active
	color active_color3

.main-btn.small
	width 175px
	height 55px
	line-height 55px
