html_bg = #606060
base_color = #f2f2f2
app_bg = #1a1a1a

app_width = 830px
app_height = 550px
list_name_w = 75%
time_w = 100% - list_name_w
task_row_height = 75px
scroll_height = 320px
tasks_list_z = 10
show_task_z = tasks_list_z - 1
new_task_z = tasks_list_z + 1
list_width_in_show = 50%
list_width_in_show_px = app_width * list_width_in_show / 100
show_width = 100% - list_width_in_show
list_transition_time = 0.5s


@font-face {
    font-family: App_font_light;
    src: url('fonts/muli-light.ttf');
}
@font-face {
    font-family: App_font;
    src: url('fonts/muli-regular.ttf');
}

@font-face {
    font-family: App_font_italic;
    src: url('fonts/muli-italic.ttf');
}

app_font_family = App_font
app_font_family_light = App_font_light
app_font_family_italic = App_font_italic

active_color1 = #ff7a03
active_color2 = #ffa346
active_color3 = #ff8100
active_color4 = #c86500
active_color5 = #653300

inactive_color1 = #0092bb
inactive_color2 = #49d0f6
inactive_color3 = #05c8ff
inactive_color4 = #00617c
inactive_color5 = #00313f
