
<div id="index-route">
	<h1>
		<img src="assets/images/logo-index.png" alt="" />I'wy!<img src="assets/images/logo-index.png" alt="" />
	</h1>
	<h2>I'm watching you!</h2>
	<h3>
		The application right here to smack you.<br/>
		In. The. Face.
	</h3>

	{{#link-to "tasks" class="btn-container"}}
		{{#main-btn}}
			Start
		{{/main-btn }}
	{{/link-to}}
</div>
